p {
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  margin-bottom: 10px;;

  p:nth-of-type(2) {
    color: rgb(167, 166, 166);
  }
}
